*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

[class*="col-"] {
  border: 1px solid black;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: pink;
}

.row.nested>div.col-6 {
  height: 100%;
  padding: 5px;
  background-color: pink;
  border: 1px solid black;
}

.row.nested>div.col-6 div {
  height: 100%;
  padding: 5px;
  background-color: orange;
  border: 1px solid white;
}
